{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'w3-css.css' %}" />
    <link rel="stylesheet" href="{% static 'auth.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <title>EASTC PT | {% block title %}{% endblock %}</title>

  </head>
  <body class="auth_body">

    <div>
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block blockjs %}{% endblock %}

  </body>
</html>
